nav {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    gap: 50px;
}

nav > * {
    text-decoration: none;
    color:#2684FC;
    border-radius: 20px;
    padding:5px 10px;
    font-family: 'Creato Display';
}

nav > a:hover, a:active{
    color:white;
    border-radius: 40px;
    background:#2684FC;
}

nav > button:hover{
    color:white;
    border-radius: 20px;
    background:#2684FC;
}

.logout-button {
    border: 1px solid rgba(38, 132, 252, 0.75);
    border-radius: 20px;
    background:white;
}