nav {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    gap: 50px;
}

nav > * {
    text-decoration: none;
    color:#2684FC;
    font-family: 'Creato Display';
}

.logout-button {
    border: 1px solid rgba(38, 132, 252, 0.75);
    border-radius: 20px;
    background:white;
}