.container {
    display: flex;
    height: calc(100vh - 96px);
    justify-content: flex-start;
    flex-direction:column;

    border:none;
    border-radius:10px;
    background:white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    margin: 50px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin: 50px;
}

.scroll {
    display:flex;
    height: 40px; /* Adjust the height as needed */
    overflow: auto;
    flex-direction: column;
    align-content: space-evenly;
}

.purchase-column {
    display: flex;
}

.header {
    display: flex;
    align-content:center;
    justify-content: center;
    text-align: center;
}


.buttons {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    align-content:center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

* {
    text-decoration: none;
    font-family: 'Creato Display';
}

select::-ms-expand {
    display: none;
 }

select {
    background: rgba(38, 132, 252, 0.05);
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1);
    border:none;
    border-radius:10px;
    padding:10px;
}

input {
    background: rgba(38, 132, 252, 0.05);
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1);
    border:none;
    border-radius:10px;
    padding:10px;
}

.dashboard-heading {
    display:flex;
    justify-content: space-between;
}

.X {
    font-family: 'Creato Display';
    font-size: 40px;
    color:#2684FC;
    background:white;
    text-align:center;
    border:none;
}

.X:hover {
    color: rgba(38, 131, 252, 0.5);;
}

button, .button {
    border: 1px solid rgba(38, 132, 252, 0.75);
    font-size:15px;
    padding:5px 10px;
    font-family: 'Creato Display';
    transition: 0.2s;

    color:white;
    border-radius: 20px;
    background:#2684FC;
    text-align:center;
}

button:hover, .button:hover{
    color:#2684FC;
    border-radius: 20px;
    background:white;
}

h2 {
    font-size: 30px;
    font-style: bold;
    color: #2684FC;
    text-decoration: none;
    text-align: center;
}

body {
    background-color:#2684FC;
}